
@charset "UTF-8";

/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


body{
	overflow-x: hidden;  
}

.wrap{
	font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 백그라운드 */
.mainbg{
	height:1144px;
	position: absolute;
	z-index: -9;
	top:-110px;
}

.main_bg1{
	width:1304px;
	background: url(../img/main_bg1.png)no-repeat;
}

.main_bg2{
	width:1145px;
	right:-400px;

	background: url(../img/main_bg2.png)no-repeat;
}

/* 퀵메뉴 */
.quickmenu{
	width: 125px;
    position: fixed;
 	right:180px;
    top: 190px;
    text-align: center;
    z-index: 10;
    transition: all 0.3s;
}

.quickmenu h2{
	background-color: #ECF6FF;
    color: #287dcc;
	padding:10px;
	border-radius: 7px;
}

.quickmenu_inner{
	border: 1px solid #E8E8E8;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 17px 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.quickmenu li{
	border-bottom: 1px solid #D3D3D3;
}

.quickmenu li:last-child{
	border-bottom: none;
}

.quickmenu li a{    
	display: block;
	padding: 12px 0;
	font-size: 14px;
}

.top_btn{    
	margin-top: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
	font-size: 12px;
	background-color: #565656;
	border:1px solid #444;
	color:#fff;
}

.top_btn > img{
	filter: invert(100%) brightness(100%);
}


/* 헤더 */
.header_top{ 
	max-width: 1220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px 0;
}

/* 서치 */
.header_top fieldset{
	width:200px; 
	display: flex;
	border-radius: 50px;
	margin-left:350px;
	border: 1px solid #E8E8E8;
}

.header_top .search{ 
	border:none;
	border-radius: 50px;
	padding-left:13px;
}

.header_top .search_btn{
	background: url(../img/i_search.svg) no-repeat center;
	border:none;
	width:35px;
	height:35px;
	cursor: pointer;
}

.header_top > p > a{
	color:#6A6A6A;
}

/* 언어변경 */
.language{
	border:none;
	color:#6A6A6A;
}

/* 폰트사이즈 변경 */
.font_size ul{
	display: flex;
}
.font_size ul li{
	font-size: 30px;
	padding:10px;
	border: 1px solid #E8E8E8;
}

.font_size .big::after{
	content: '';
	width:20px;
	height:2px;
}
.font_size .small::after{
	content: '';
	width:20px;
	height:2px;
}


/* 네비 */

nav{
	border-top:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	position: relative;
	z-index: 99;
}

nav::before{
	display: none;
}

nav.active::before{
	content: '';
	background-color: #F9F9F9;
	position: absolute;
	left: 0;
	top: 61px;
	right: 0;
	height: 350px;
	bottom: 0;
	z-index: -5;
	display: block;
	box-shadow: 0 29px 29px rgba(0,0,0,0.2);
}

nav > ul{
	max-width: 1220px;
	width: 100%;
	margin:0 auto;
	display: flex; 
}

nav > ul > li{
	width: calc(100% / 6);
	height:60px;
}

nav > ul > li > a{
	padding:20px;
	text-align: center;
	display: block;
	font-size: 19px;
	font-weight: 600;
}

nav > ul > li:hover .sub_nav{
	background-color: #FFF;
}
.sub_nav{
	height:349px;
	display: none; 
	margin-top:2px;
}

.sub_nav a{
	text-align: center;
	display: block;
	padding:14px;
	font-size: 17px
}

.sub_nav a:hover{
	color:#425ABE;
	text-decoration: underline;
}



/* 메인섹션 */
section h2{
	font-weight: 600;
	font-size: 21px;
	margin:15px 0;
}

.main_section{
	display: flex;
	flex-wrap: wrap;
	max-width: 1220px;
	margin: 0 auto;
	padding:20px 0;
}
.main_section > div{
	margin-top:20px;
}
.main_banner{
	width:725px;
	height: 320px;
	overflow: hidden;
	margin:0 auto;
	border-radius: 30px;
}

/* 스와이퍼 슬라이드 */
.swiper-wrapper{
    position: relative;
    display: flex;
}

/* 자주 찾는 서비스 */
.service{
	width: 472px;
	margin: 0 0 27px 22px;
	background-color: #F9F9F9;
	box-sizing: border-box;
	padding: 37px;
	border-radius: 30px
}

.service > ul{
	display: flex;
	flex-wrap: wrap;
}

.service > ul > li{
    width:90px;
    margin:0 3px 20px;
	border:1px solid #D3D3D3;
	border-radius: 10px;
	background-color: #fff;	
	box-sizing: border-box;
}
.service > ul > li:hover{
	border:1px solid #2bada0;
}

.service > ul > li:hover a{
	color:#2bada0;
	font-weight: bold;
}

.service > ul > li:hover img{
	background-color: #2bada0;
}

.service > ul > li a{
	display: block;
	position:relative;
	padding:10px;
	height:60px;
	font-size: 14px;
	line-height: 17px;
}


.service > ul > li img{
	position: absolute;
    right: 4px;
    bottom: 4px;
	background-color: #F6F6F6;
    border-radius: 30px;
}


/* 개인/기업서비스 */
.service_zone{
	width:100%;
	display: flex;
  	align-items: center;
	justify-content: space-between;
}
.customer_service,.business_service{
	height:150px;
	padding:35px;
}
.customer_service{
	background-color: #D3EFEE;
	border-radius: 30px;
}
.customer_service h2{
	color: #13927E;
}
.customer_service ul{	
	display: flex;
}

.customer_service li{
	display: inline-flex;
	width: 105px;
	height:88px;
    background-color: #fff;
    line-height: 22px;
    padding:0 15px;
	margin:7px;
	border-radius: 15px;
	
}
.customer_service li:hover{
	background-color:#13927E;
	
}

.customer_service li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-align: center;
	color:#13927E;
	transition: all 0.4s;
}

.customer_service li:hover a{
	color:#FFF;
}


/* 기업서비스 */
.business_service{
	width:160px;
	border-radius: 30px;
	background-color: #FCE3CE;
	color: #d4520c;
	display: flex;
	align-items: center;
	text-align: center;
}
.business_service h2{
	margin:0 auto;
	color:#d4520c;
}

.business_service_go{
	
	position: relative;
	
}

.business_service_go img{
	position: absolute;
    top: -45px;
    left: -85px;
    width: 20px;
    height: 20px;
    background-color: #FCE3CE;
    border-radius: 50px;
    padding: 35px;
}



/* 팝업존 */
.popup_zone{
	position:relative;
}

.popup_zone .swiper-container{	
	width: 650px;
    height: 190px;
	margin:0 auto;
	overflow: hidden;
	border-radius: 30px;
}

.popup_zone img{
	width: 650px;
    height: 190px;
}
.popup_zone .swiper-wrapper{

}

.popupzone-slider-nav {
    display: flex;
    align-items: center;
	position: absolute;
    top: 12px;
    right: 15px;
}

/* 버튼 클래스명수정*/
.slider-controller a{
	display: inline-block;
	text-indent: -9999px;
	width: 14px;
    height: 24px;
}

.slider-page{
	margin:0 12px
}

.popupzone-slider-nav .slider-controller .btn-prev {
    background: url(../img/i_popupzone_slider_prev.svg) center center no-repeat;
}
.popupzone-slider-nav .slider-controller .btn-stop {
    background: url(../img/i_popupzone_slider_stop.svg) center center no-repeat;
}

.popupzone-slider-nav .slider-controller .btn-next {
    background: url(../img/i_popupzone_slider_next.svg) center center no-repeat;
}

.popupzone-slider-nav .slider-controller .btn-stop.play {
    background: url(../img/i_popupzone_slider_play.svg) center center no-repeat;
}


/* sns 배너 */
.sns_service{
	margin-left:30px;
	position:relative
}
.sns_tab_menu{
	position: absolute;
    right: 0;
    top: -4px;
}

.sns_tab_menu ul{
	display: flex;
}
.sns_tab_menu ul li{
	display: flex;
	align-items: center;
	margin:10px 5px;
	border: 1px solid #D3D3D3;
	border-radius: 30px;
	background-color: #FFF;
	cursor: pointer;
}
.sns_tab_menu ul li p{
	color:#FFF;
}

.sns_tab_menu ul li.on{
	padding-right:8px;
}

.sns_tab_menu ul li.on img {
	filter: invert(100%) brightness(100%);
}

/* sns 배경 리스트 */
.sns_tab_menu ul li.on.on_air{
	background-color: #409adb;
}
.sns_tab_menu ul li.on.blog{
	background-color: #10ac33;
}
.sns_tab_menu ul li.on.youtube{
	background-color: #e35757;
}
.sns_tab_menu ul li.on.instargram{
	background:linear-gradient(to right, #fed446, #fa984b , #fe535c, #ea4cc5, #ab5cf0);
}



.sns_tab_menu ul li p{
	display: none;
}

.sns_tab_menu ul li.on p{
	display: block;
	
}

.on{
	display: block;
}

/* sns 배너 컨텐츠 */
.sns_tab_con{
	display: flex;
	width:530px;
	height: 190px;	
    overflow: hidden;
	border-radius: 30px;
}

.sns_tab_con img{
	width:530px;
	height: 190px;
}



/* 푸터 */
footer{
	background-color: #fff;
	padding:30px 0 50px;
}
.footer_inner{
	max-width: 1220px;
	width:100%;
	margin:0 auto;
}
.footer_inner > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_inner > div > ul{
	display: flex;
}
.footer_con1 > div{
	display: flex;
	align-items: center
}

.footer_con1 > div > p{
	font-size: 18px;
	margin:0 10px;
}

.footer_con1 img{
	width:15px;
	height:15px;
	padding:7px;
	border-radius: 10px;
}
.footer_con1_l img{
	background-color:#13A538;
}
.footer_con1_l > p{
	color:#13A538;
}

.footer_con1_l .arrow,.footer_con1_r .arrow{
	background-color: #fff;
}

.footer_con1_r img{
	background-color:#425ABE;
}
.footer_con1_r > p{
	color:#425ABE;

}

.footer_con2{
	border-radius: 10px;
	padding:10px;
	margin:20px 0;
	background-color: rgb(243, 243, 243);
}

.footer_link{
	
}
.footer_sns{
	
}
.footer_sns li{ 
	margin:0 5px;
	border:0.5px solid rgb(202, 202, 202);
	border-radius:50px; 
	background-color: rgb(255, 255, 255);
}

/* 푸터3 */
.footer_con3_l{
    max-width: 850px;
    width: 100%;
}

.footer_con3_l address{
	font-weight: bold;
	margin:10px 0;
}

.footer_con3_l small,.footer_con3_l > P{
	font-size:14px;
	color:#6A6A6A;
}

.footer_con3_l > P{
	margin:15px 0; 
}

.footer_con3_r{
	max-width:350px;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.footer_con3_r > div{
	width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.footer_con3_r > div > select {   
	width: 70%;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	padding-left:5px;
}
.footer_con3_r > div > button{
	border: 1px solid #E8E8E8;
	background-color:#6A6A6A;
	color:#FFF;
	border-radius: 8px;
}

.footer_con3_r .mark{
	width:100%;
	margin: 12px 0;
	margin-left: 140px;
}

.footer_con3_r .mark ul{
	display: flex;	
	flex-direction: row-reverse;
}