
@charset "UTF-8";

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


html,body{
	overflow-x: hidden;  
}

.wrap{
	font-family: 'Noto Sans KR', sans-serif;
	width:100%;
}

/* 메인 배경 */
.mainbg{
	height:1144px;
	position: absolute;
	z-index: -9;
}

.main_bg1{
	max-width: 1304px;
	width:100%;
    left: -150px;
    top: -150px;
	background: url(../img/main_bg1.png) 0 0 no-repeat;
}

.main_bg2{
	max-width: 1304px;
	width:100%;
	background: url(../img/main_bg2.png)0 0 no-repeat;
	width: 40%;
    right: 0px;
    top: -60px;
}

/* 퀵메뉴 */
.quickmenu{
	width: 125px;
    position: fixed;
	left: calc(50% + 640px);
    top: 190px;
    text-align: center;
    z-index: 999;
    transition: all 0.3s;
}

.quickmenu h2{
	background-color: #ECF6FF;
    color: #287dcc;
    padding: 12px 10px;
	font-size: 15px;
	font-weight: 600;
    border-radius: 7px;
    margin-bottom: 6px;
}

.quickmenu_inner{
	border: 1px solid #E8E8E8;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 17px 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.quickmenu li{
	border-bottom: 1px solid #D3D3D3;
}

.quickmenu li:last-child{
	border-bottom: none;
}

.quickmenu li a{    
	display: block;
	padding: 10px 0;
	font-size: 14px;
	line-height: 20px;
}

.top_btn{    
	margin-top: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
	font-size: 12px;
	background-color: #565656;
	border:1px solid #444;
	color:#fff;
}

.top_btn > img{
	filter: invert(100%) brightness(100%);
}


/* 헤더 */
.header_top{ 
	max-width: 1220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px 0;
}

/* 서치 */
.header_top fieldset{
	width:200px; 
	display: flex;
	border-radius: 50px;
	margin-left:350px;
	border: 1px solid #E8E8E8;
}

.header_top .search{ 
	border:none;
	border-radius: 50px;
	padding-left:13px;
}

.header_top .search_btn{
	background: url(../img/i_search.svg) no-repeat center;
	border:none;
	width:35px;
	height:35px;
	cursor: pointer;
}

.header_top > p > a{
	color:#6A6A6A;
}

/* 언어변경 */
.language{
	border:none;
	color:#6A6A6A;
}

/* 폰트사이즈 변경 */
.font_size ul{
	display: flex;
}
.font_size ul li{
	font-size: 30px;
	padding:10px;
	border: 1px solid #E8E8E8;
}

.font_size .big::after{
	content: '';
	width:20px;
	height:2px;
}
.font_size .small::after{
	content: '';
	width:20px;
	height:2px;
}


/* 네비 */
nav{
	border-top:1px solid #E8E8E8;
	border-bottom:1px solid #E8E8E8;
	position: relative;
	z-index: 99;
}

nav::before{
	display: none;
}

nav.active::before{
	content: '';
	background-color: #F9F9F9;
	position: absolute;
	left: 0;
	top: 61px;
	right: 0;
	height: 350px;
	bottom: 0;
	z-index: -9;
	display: block;
	box-shadow: 0 29px 29px rgba(0,0,0,0.2);
}

nav > ul{
	max-width: 1220px;
	width: 100%;
	margin:0 auto;
	display: flex; 
}

nav > ul > li{
	width: calc(100% / 6);
	height:60px;
}

nav > ul > li > a{
	padding:20px;
	text-align: center;
	display: block;
	font-size: 18px;
	font-weight: 600;
}

nav > ul > li:hover .sub_nav{
	background-color: #FFF;
}
.sub_nav{
	height:349px;
	display: none; 
	margin-top:2px;
}

.sub_nav a{
	text-align: center;
	display: block;
	padding:14px;
	font-size: 17px
}

.sub_nav a:hover{
	color:#425ABE;
	text-decoration: underline;
}


/* 메인섹션 */
section h2{
	font-weight: 600;
	font-size: 22px;
	margin:15px 0;
}

.section_inner{
	display: flex;
	flex-wrap: wrap;
	max-width: 1220px;
	width:calc(100% - 20px);
	margin: 0 auto;
	padding:50px 0;
}

.section_inner > div{
	margin-top:20px;
}

/* 섹션 1 */

.section1 .section_inner {
	justify-content: space-between;
	padding-top:10px;
}

.section1 .main_banner{
	max-width:725px;
	width:100%;
	height: 320px;
	overflow: hidden;
	border-radius: 30px;
}

/* 스와이퍼 슬라이드 */
.section1 .swiper-wrapper{
    position: relative;
    display: flex;
}

/* 자주 찾는 서비스 */
.service{
	width: 472px;
	background-color: #F9F9F9;
	box-sizing: border-box;
	padding: 33px;
	border-radius: 30px
}

.service > ul{
	display: flex;
	flex-wrap: wrap;
}

.service > ul > li{
    width:90px;
    margin:0 3px 20px;
	border:1px solid #D3D3D3;
	border-radius: 10px;
	background-color: #fff;	
	box-sizing: border-box;
}
.service > ul > li:hover{
	border:1px solid #2bada0;
}

.service > ul > li:hover a{
	color:#2bada0;
	font-weight: bold;
}

.service > ul > li:hover img{
	background-color: #2bada0;
}

.service > ul > li a{
	display: block;
	position:relative;
	padding:10px;
	height:60px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
}


.service > ul > li img{
	position: absolute;
    right: 4px;
    bottom: 4px;
	background-color: #F6F6F6;
    border-radius: 30px;
}


/* 개인/기업서비스 */
.service_zone{
	width:100%;
	display: flex;
  	align-items: center;
	justify-content: space-between;
}
.customer_service,.business_service{
	height:150px;
	padding:35px;
}
.customer_service{
	background-color: #D3EFEE;
	border-radius: 30px;
}
.customer_service h2{
	color: #13927E;
}
.customer_service ul{	
	display: flex;
}

.customer_service li{
	display: inline-flex;
	width: 105px;
	height:88px;
    background-color: #fff;
    line-height: 22px;
    padding:0 15px;
	margin:7px;
	border-radius: 15px;
	
}
.customer_service li:hover{
	background-color:#13927E;
	
}

.customer_service li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	text-align: center;
	color:#13927E;
	transition: all 0.4s;
	font-weight: 600;
}

.customer_service li:hover a{
	color:#FFF;
}

/* 기업서비스 */
.business_service{
	width:160px;
	border-radius: 30px;
	background-color: #FCE3CE;
	color: #d4520c;
	display: flex;
	align-items: center;
	text-align: center;
}

.business_service h2{
	margin:0 auto;
	color:#d4520c;
}

.business_service_go{
	position: relative;
}

.business_service_go img{
	position: absolute;
    top: -45px;
    left: -85px;
    width: 20px;
    height: 20px;
    background-color: #FCE3CE;
    border-radius: 50px;
    padding: 35px;
}

/* 팝업존 */
.popup_zone{
	position:relative;
	width: 650px;
}

.popup_zone .swiper-container{	
	margin:0 auto;
	overflow: hidden;
	border-radius: 30px;
}

.popup_zone img{
	width: 650px;
    height: 190px;
}

.popupzone-slider-nav {
    display: flex;
    align-items: center;
	position: absolute;
    top: 12px;
    right: 15px;
}

/* 버튼 클래스명수정*/
.slider-controller a{
	display: inline-block;
	text-indent: -9999px;
	width: 14px;
    height: 24px;
}

.slider-page{
	margin:0 12px
}

.popupzone-slider-nav .btn-prev {
    background: url(../img/i_popupzone_slider_prev.svg) center center no-repeat;
}
.popupzone-slider-nav .btn-stop {
    background: url(../img/i_popupzone_slider_stop.svg) center center no-repeat;
}

.popupzone-slider-nav .btn-next {
    background: url(../img/i_popupzone_slider_next.svg) center center no-repeat;
}

.popupzone-slider-nav .btn-stop.play {
    background: url(../img/i_popupzone_slider_play.svg) center center no-repeat;
}


/* sns 배너 */
.sns_service{
	width: 44%;
	margin-left:30px;
	position:relative
}
.sns_tab_menu{
	position: absolute;
    right: 0;
    top: -4px;
}

.sns_tab_menu ul{
	display: flex;
}
.sns_tab_menu ul li{
	display: flex;
	align-items: center;
	margin:10px 5px;
	border: 1px solid #D3D3D3;
	border-radius: 30px;
	background-color: #FFF;
	cursor: pointer;
	width:30px;
	height:30px;
}

.sns_tab_menu ul li::before{	
	content: "";
	background-size:  100%;
	width: 30px;
	height: 28px;
}

.on{
	display: block;
}

.sns_tab_menu ul li p{
	color:#FFF;
	display: none;
}
.sns_tab_menu ul li.on{
	padding:2px 8px;
	width:100%;
	height:30px;
}

.sns_tab_menu ul li.on p{
	display: block;
}


/* sns 배경 리스트
.sns_tab_menu ul li.on,
.sns_tab_con div.on{
	background-repeat: no-repeat;
	background-position:10px;
	background-size: 25px 25px;
}
 */
/* on_air */
.sns_tab_menu ul li.on_air::before{
	background-image:url(../img/i_sns_onair.svg);
}

.sns_tab_menu ul li.on.on_air::before{
	background-image: url(../img/sns_logo_onair.svg);
}

.sns_tab_menu ul li.on.on_air,
.sns_tab_con > div.on_air{
	background-color: #409adb;
}

/* blog */
.sns_tab_menu ul li.blog::before{
	background-image:url(../img/i_sns_blog.svg);
}

.sns_tab_menu ul li.on.blog,
.sns_tab_con > div.blog{
	background-color: #10ac33;
}

.sns_tab_menu ul li.on.blog::before{
	background-image: url(../img/sns_logo_blog.svg);
}

/* youtube */
.sns_tab_menu ul li.youtube::before{
	background-image: url(../img/i_sns_yt.svg);
}

.sns_tab_menu ul li.on.youtube,
.sns_tab_con > div.youtube{
	background-color: #e35757;
}

.sns_tab_menu ul li.on.youtube::before{
	background-image: url(../img/sns_logo_yt.svg);
}

/* instargram */
.sns_tab_menu ul li.instargram::before{
	background-image: url(../img/i_sns_inst.svg);
}


.sns_tab_menu ul li.on.instargram::before{
	background-image:url(../img/sns_logo_inst.svg);
}

.sns_tab_menu ul li.on.instargram,
.sns_tab_con > div.instargram{
	background:linear-gradient(to right, #fed446, #fa984b , #fe535c, #ea4cc5, #ab5cf0);
}

.sns_tab_con > div{
	display: flex;
	align-items: center
}

.sns_tab_con h5{
	font-size: 20px;
	color:#FFF;
}
.sns_tab_con p{
	color:#FFF;
	margin:20px 0;
}

.sns_tab_con img{
	width:150px;
	height: 150px;
	margin:0 20px;
}

/* sns 배너 컨텐츠 */
.sns_tab_con{
	width:530px;
	height: 190px;	
    overflow: hidden;
	border-radius: 30px;
}

.sns_tab_con > div{
	width:530px;
	height: 190px;
}

.sns_tab_con img{

}

/* section2 */
.item_bg_option{ 
	border: 1px solid #D3D3D3;
	border-radius: 15px;
	padding:15px;
	background-color: #FFF;
	justify-content: space-around;
}

.section2{
	display: flex;
	background-color: #f3f3f3;
}

.section2 h3{
	font-weight: 600;
	font-size: 21px;
	margin: 11px 0;
}

.section2 p{
	margin:10px 0;
	text-align: center;
	font-size: 14px;
}

.section2 .section_inner > div{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: calc(33.3333% - 20px);
  margin: 0 15px;
}

/* 섹션2 왼쪽 */
.section2 .section_inner > .section2_left{
	margin-left:0;
}

.etc_linklist li{
	border:1px solid #D3D3D3;
	border-radius: 15px;
	margin:16px 0;
	background-color: #fff;
}

.etc_linklist li:first-child{
	margin:0;
}

.etc_linklist li a{
	display: flex;
	justify-content: space-between;
	padding:17px 20px;
}

.section2 .on_air{
	background:#FFF9F5 url(../img/bg_onair.png) bottom right no-repeat;
	border:1px solid #D3D3D3;
	padding:20px;
	border-radius: 20px;
	height: 380px;
}

.section2 .on_air h3{
	float: left;
	display: block;
}

.section2 .on_air span{
	border:1px solid #D3D3D3;
	border-radius: 50px;
	padding:7px 12px;
	background-color: #FFF;
	font-size: 14px;
	float: right;
	margin:12px 0;
}

.section2 .on_air ul{
	float: left;
}

.section2 .on_air li{
	margin:20px 0;
}

.section2 .on_air li::before{
	content: '·';
	margin-right:5px;
}

.section2 .on_air a{
	margin:13px 0;
}

/* 섹션2 센터 */
.youtube_link{
	height:320px;
}

.youtube_link img{
	width:100%;
}

.card_news,.QR{
	height:220px;
}
.card_news a{
	margin:10px;

}
.card_news a img{
		border-radius: 20px;
		width: 100%;
}

.youtube_link,
.card_news,
.webzine,
.news_letter,
.QR{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* 섹션2 오른쪽 */
.section2 .section_inner > .section2_right{
	margin-right:0;
}

.webzine,
.news_letter{
	background:#fff8f9 url(../img/bg_webzine.png) no-repeat;
}

.button_box{
	display: flex;
	margin:7px 0;
}

.button_box a{
	display: flex;
	align-items: center;
	justify-content: center;
	border:none;
	border-radius: 30px;
	margin:0 10px;
	padding:6px 15px;
	color:#fff;
	font-size: 15px;
}

.button_box img{
	margin-right:5px;
}

.webzine a{
	background-color: #787EB4;
}

.news_letter{
	margin:20px 0;
}

.news_letter a{
	background-color:#eb647d;
}

.section2_right .QR ul{
	display: flex;
}

.section2_right .QR li img{
	border-radius: 23px;
	background-color: #f3f3f3;	
	margin:15px;
}

.section2_right .QR ul img{
	padding:15px;
}


/* 푸터 */
footer{
	background-color: #fff;
	padding:30px 0 50px;
}
.footer_inner{
	max-width: 1220px;
	width:100%;
	margin:0 auto;
}
.footer_inner > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_inner > div > ul{
	display: flex;
}
.footer_con1 > div{
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
}

.footer_con1 > div > h4{
	margin:0 10px;
}

.footer_con1 img{
	width:15px;
	height:15px;
	padding:7px;
	border-radius: 10px;
}

.footer_con1 > div > p > span:first-child{
	color:#d4520c;
}

.footer_con1 > div > p > span:nth-child(2){
	color:#13A538;
}

.footer_con1 > div > p > span:last-child{
	color:#2B2171;
}

.footer_con1_l img{
	background-color:#13A538;
}

.footer_con1_l > h4{
	color:#13A538;
}

.footer_con1_l .arrow,.footer_con1_r .arrow{
	background-color: #fff;
}

.footer_con1_r img{
	background-color:#425ABE;
}
.footer_con1_r > h4{
	color:#425ABE;
}

.footer_con2{
	border-radius: 10px;
	padding:10px;
	margin:20px 0;
	background-color:#f3f3f3;
}

.footer_sns li{ 
	margin:0 5px;
	border:0.5px solid rgb(202, 202, 202);
	border-radius:50px; 
	background-color: rgb(255, 255, 255);
}

/* 푸터3 */
.footer_con3_l{
    max-width: 850px;
    width: 100%;
}

.footer_con3_l address{
	font-weight: bold;
	margin:10px 0;
}

.footer_con3_l small,.footer_con3_l > P{
	font-size:14px;
	color:#6A6A6A;
}

.footer_con3_l > P{
	margin:15px 0; 
}

.footer_con3_r{
	max-width:350px;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.footer_con3_r > div{
	width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.footer_con3_r > div > select {   
	width: 70%;
	border: 1px solid #E8E8E8;
	border-radius: 8px;
	padding-left:5px;
}
.footer_con3_r > div > button{
	border: 1px solid #E8E8E8;
	background-color:#6A6A6A;
	color:#FFF;
	border-radius: 8px;
}

.footer_con3_r .mark{
	width:100%;
	margin: 12px 0;
	margin-left: 140px;
}

.footer_con3_r .mark ul{
	display: flex;	
	flex-direction: row-reverse;
}


/* 모바일 */
@media (max-width: 1570px) {
	.quickmenu {
	  display: none;
	}
}

@media (max-width: 1245px) {
	.quickmenu {
	  display: none;
	}
}

@media (max-width: 1080px){
	.section_inner{
		width:100%;
	}
	.header_top h1 {
    margin: 0 auto;
	}
	.header_top fieldset,
	.header_top > p,
	.language,
	.font_size,nav,
	.customer_service,
	.service_zone{
		display: none;
	}
	.header_top > h1 > img{
		width:170px;
	}
	.header_top{
		padding:15px 0 0;
	}
	.section1 .main_banner{
		width: calc(100% - 30px);
		margin: 0 15px 20px 15px;
	}
	.service{
		width:100%;
		border-radius: 0;
	}
	.service > ul > li{
		width:24%;
	}
	.section2 h3{
		font-size: 18px;
	}
	.button_box a{
		font-size:13px;
		padding:4px 6px;
	}
	.sns_service,
	.popup_zone{
		width:calc(100% - 60px);
		margin:0 auto;
	}
	.popup_zone img{
	
	}
	
	.sns_tab_con,.sns_tab_con > div{
		width: 100%;
	}
}